.formulario-inscripcion-alumno, .root-formulario {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    /* background-color: aqua; */
}

.search-table {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    /* background-color: aqua; */
}